<h3 class="header">Currency Search</h3>
<mat-form-field class="text-field" appearance="fill">
    <mat-label>EUR base = 1</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="symbols">
        <mat-option *ngFor="let symbols of currencies" [value]="symbols.value">
            {{symbols.viewValue}}
        </mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field class="list">
    <mat-label>Length greater than 0</mat-label>
    <input  matInput [(ngModel)]="length" type="number" value="1">
</mat-form-field>
<div class="response">
    <button class="btn" (click)="currencySearch()">Search</button>
    <p class="currency-response">
        Value = {{ convertCurrency}}
    </p>
</div>
<h3 class="header-two">Crypto Currency</h3>
<div *ngIf="cryptos">
    <div class="crypto-container" *ngFor="let crypto of objectKeys(cryptos)">
        <span class="left">{{ crypto }}
            <mat-form-field class="list">
                <mat-label>Number of shares</mat-label>
                <input #cryptoShares matInput type="number" value="1">
            </mat-form-field>
        </span>
        <span class="right"> {{ cryptos[crypto].USD * cryptoShares.value | currency:'USD':true }}</span>
    </div>
</div>